.image {
  width: 300px;
  margin-top: 30px;
  margin-left: 30px;
  display: block;
}

.search-bar {
  font-size: 30px;
  color: rgb(0, 0, 0);
  border: 1px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  display: block;
}

.search-bar::placeholder {
  font-size: 15px;
  color: darkgray;
}

.image-title, .image-explanation {
margin-left: 30px;
}

.video-preview {
  display: inline-block;
  width: 300px;
  margin-right: 20px;
}
}
